<form method="post" enctype="multipart/form-data" name="covers" class="d-none" novalidate>
    <input type="hidden" name="covers[id]">

    <div class="card border-0">
        <div class="imagebox card-img-top">
            <input type="hidden" name="covers[image][id]">
            <input type="file" name="covers[image][data]" accept="image/jpeg,image/png"/>
            <button type="button" class="btn btn-dark imagebox-control">
                <i class="fas fa-cloud-upload-alt"></i>
            </button>
            <img alt="..." class="img-fluid w-100 rounded-top" style="min-height: 400px" src="https://dummyimage.com/600x400/9ca1ae">
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="covers[journal_name]" class="col-form-label col-4">Журнал</label>
                <div class="col-8">
                    <input type="text" id="covers[journal_name]" name="covers[journal_name]" class="form-control"
                           placeholder="Название журнала" aria-label="Название журнала"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="input-group">
                        <input type="text" name="covers[journal_number]" placeholder="Номер" aria-label="Номер"
                               class="form-control"/>
                        <select class="custom-select" id="covers[journal_month]" name="covers[journal_month]"
                                aria-label="Месяц">
                            {% for value, text in datetime.months %}
                                <option value="{{ value }}">{{ text }}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select" id="covers[journal_year]" name="covers[journal_year]"
                                aria-label="Год">
                            {% for year in datetime.years %}
                                <option value="">{{ year|date('Y') }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-form-label col-4">Напечатан</div>
                <div class="col-8">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="covers[printedIn][]"
                               id="covers[printedIn_ukraine]" value="ukraine" checked/>
                        <label class="form-check-label" for="covers[printedIn_ukraine]">в Украине</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="covers[printedIn][]"
                               id="covers[printedIn_otherCountry]" value="otherCountry"/>
                        <label class="form-check-label" for="covers[printedIn_otherCountry]">в другой стране</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="covers[printedIn][]"
                               id="covers[printedIn_moreThanOneCountries]" value="moreThanOneCountries"/>
                        <label class="form-check-label" for="covers[printedIn_moreThanOneCountries]">в нескольких
                            странах</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="covers[makeupArtist]" class="col-form-label col-4">Визажист</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="covers[makeupArtist]" name="covers[makeupArtist]">
                </div>
            </div>
            <div class="form-group row">
                <label for="covers[stylist]" class="col-form-label col-4">Стилист</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="covers[stylist]" name="covers[stylist]">
                </div>
            </div>
            <div class="form-group row">
                <label for="covers[photographer]" class="col-form-label col-4">Фотограф</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="covers[photographer]" name="covers[photographer]">
                </div>
            </div>
            <div class="form-group row mb-0">
                <label for="covers[designer]" class="col-form-label col-4">Дизайнер одежды</label>
                <div class="col-8">
                    <input type="text" class="form-control" id="covers[designer]" name="covers[designer]"/>
                </div>
            </div>
        </div>
    </div>
</form>
